SUBSYSTEM==”usb”, ATTR{idVendor}==”0502″, MODE=”0666″, GROUP=”plugdev”
SUBSYSTEM==”usb”, ATTR{idVendor}==”0B05″, MODE=”0666″, GROUP=”plugdev”
SUBSYSTEM==”usb”, ATTR{idVendor}==”413C”, MODE=”0666″, GROUP=”plugdev”
SUBSYSTEM==”usb”, ATTR{idVendor}==”0489″, MODE=”0666″, GROUP=”plugdev”
SUBSYSTEM==”usb”, ATTR{idVendor}==”091E”, MODE=”0666″, GROUP=”plugdev”
SUBSYSTEM==”usb”, ATTR{idVendor}==”18D1″, MODE=”0666″, GROUP=”plugdev”
SUBSYSTEM==”usb”, ATTR{idVendor}==”109B”, MODE=”0666″, GROUP=”plugdev”
SUBSYSTEM==”usb”, ATTR{idVendor}==”0BB4″, MODE=”0666″, GROUP=”plugdev”
SUBSYSTEM==”usb”, ATTR{idVendor}==”12D1″, MODE=”0666″, GROUP=”plugdev”
SUBSYSTEM==”usb”, ATTR{idVendor}==”24E3″, MODE=”0666″, GROUP=”plugdev”
SUBSYSTEM==”usb”, ATTR{idVendor}==”2116″, MODE=”0666″, GROUP=”plugdev”
SUBSYSTEM==”usb”, ATTR{idVendor}==”0482″, MODE=”0666″, GROUP=”plugdev”
SUBSYSTEM==”usb”, ATTR{idVendor}==”17EF”, MODE=”0666″, GROUP=”plugdev”
SUBSYSTEM==”usb”, ATTR{idVendor}==”1004″, MODE=”0666″, GROUP=”plugdev”
SUBSYSTEM==”usb”, ATTR{idVendor}==”22B8″, MODE=”0666″, GROUP=”plugdev”
SUBSYSTEM==”usb”, ATTR{idVendor}==”0409″, MODE=”0666″, GROUP=”plugdev”
SUBSYSTEM==”usb”, ATTR{idVendor}==”2080″, MODE=”0666″, GROUP=”plugdev”
SUBSYSTEM==”usb”, ATTR{idVendor}==”0955″, MODE=”0666″, GROUP=”plugdev”
SUBSYSTEM==”usb”, ATTR{idVendor}==”2257″, MODE=”0666″, GROUP=”plugdev”
SUBSYSTEM==”usb”, ATTR{idVendor}==”10A9″, MODE=”0666″, GROUP=”plugdev”
SUBSYSTEM==”usb”, ATTR{idVendor}==”1D4D”, MODE=”0666″, GROUP=”plugdev”
SUBSYSTEM==”usb”, ATTR{idVendor}==”0471″, MODE=”0666″, GROUP=”plugdev”
SUBSYSTEM==”usb”, ATTR{idVendor}==”04DA”, MODE=”0666″, GROUP=”plugdev”
SUBSYSTEM==”usb”, ATTR{idVendor}==”05C6″, MODE=”0666″, GROUP=”plugdev”
SUBSYSTEM==”usb”, ATTR{idVendor}==”1F53″, MODE=”0666″, GROUP=”plugdev”
SUBSYSTEM==”usb”, ATTR{idVendor}==”04E8″, MODE=”0666″, GROUP=”plugdev”
SUBSYSTEM==”usb”, ATTR{idVendor}==”04DD”, MODE=”0666″, GROUP=”plugdev”
SUBSYSTEM==”usb”, ATTR{idVendor}==”0FCE”, MODE=”0666″, GROUP=”plugdev”
SUBSYSTEM==”usb”, ATTR{idVendor}==”2340″, MODE=”0666″, GROUP=”plugdev”
SUBSYSTEM==”usb”, ATTR{idVendor}==”0930″, MODE=”0666″, GROUP=”plugdev”
SUBSYSTEM==”usb”, ATTR{idVendor}==”19D2″, MODE=”0666″, GROUP=”plugdev”
